* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

#root {
    width: 100%;
    height: 100vh;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 20px 30px;
    background-color: #040404;
}

/* logo */
nav > a {
    height: 100%;
}

nav img {
    height: 100%;
}

/* /logo */

/* searchbar */

nav .searchbar  {
    display: flex;
    align-items: center;
}

nav .searchbar label {
    color: #fff;
}

nav .searchbar select {
    padding: 4px 10px;
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 5px;
}

nav .searchbar input {
    padding: 5px 10px;
    margin-right: 10px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

nav .searchbar i {
    color: #fff;
    cursor: pointer;
}

nav .searchbar i:hover {
    color: #b6b6b6;
}

/* /searchbar */


/* /NAV */

/* MAIN */

main {
    width: 100%;
    height: calc(100% - 80px);
    padding: 30px;
    background-color: #191919;
    overflow-y: auto;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

/* cards */

.movies-title {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid red;
    color: #fff;
}

.series-title {
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid red;
    color: #fff;
}
    
.card {
    position: relative;
    width: 342px;
    margin: 0 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    cursor: pointer;
}

.card .poster {
    display: block;
    width: 100%;
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 25px;
    color: #fff;
    background-color: black;
    overflow-y: hidden;
    opacity: 0;
}

/* .card .overlay:after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:50px;
    display:block;
    background-color:inherit;
  } */

.card .overlay .title {
    font-weight: 700;
    margin-bottom: 5px;
}

.card .overlay .description {
    font-weight: 400;
}

.card .overlay .flag {
    width: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

.card .overlay .overview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}

.card .overlay i {
    color: orange;
}

.card:hover .overlay {
    opacity: 1;
}

/* /cards */

/* warning message */

.warning h2 {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

/* /warning message */

/* /MAIN */
